@using PersonalStockTrader.Common
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@this.ViewData["Title"] - @GlobalConstants.SystemDisplayName</title>
    <!-- plugins:css -->
    <link href="~/css/fontawesome.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/vendors/base/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <link rel="stylesheet" href="~/vendors/datatables.net-bs4/dataTables.bootstrap4.css">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="~/css/style.css" />
    <link href="~/css/site.css" rel="stylesheet" />
    <!-- endinject -->
    <link rel="shortcut icon" href="~/favicon.ico" />
</head>
<body>
    <div class="container-scroller">
        <!-- partial:partials/_navbar.html -->
        <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
            <div class="navbar-brand-wrapper d-flex justify-content-center">
                <div class="navbar-brand-inner-wrapper d-flex justify-content-between align-items-center w-100">
                    @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
                    {
                        <a class="navbar-brand brand-logo" asp-area="Administration" asp-controller="Dashboard" asp-action="Index"><h4 class="text-success">Personal<br />Stock Trader</h4></a>
                        <a class="navbar-brand brand-logo-mini" asp-area="Administration" asp-controller="Dashboard" asp-action="Index"><img src="~/favicon.ico" alt="logo" /></a>
                    }
                    else if (this.User.IsInRole(GlobalConstants.AccountManagerRoleName))
                    {
                        <a class="navbar-brand brand-logo" asp-area="AccountManagement" asp-controller="NewClients" asp-action="Index"><h4 class="text-success">Personal<br />Stock Trader</h4></a>
                        <a class="navbar-brand brand-logo-mini" asp-area="AccountManagement" asp-controller="NewClients" asp-action="Index"><img src="~/favicon.ico" alt="logo" /></a>
                    }
                    else if (this.User.IsInRole(GlobalConstants.ConfirmedUserRoleName) || this.User.IsInRole(GlobalConstants.NotConfirmedUserRoleName))
                    {
                        <a class="navbar-brand brand-logo" asp-area="User" asp-controller="Trade" asp-action="Index"><h4 class="text-success">Personal<br />Stock Trader</h4></a>
                        <a class="navbar-brand brand-logo-mini" asp-area="User" asp-controller="Trade" asp-action="Index"><img src="~/favicon.ico" alt="logo" /></a>
                    }
                    <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                        <span class="mdi mdi-sort-variant"></span>
                    </button>
                </div>
            </div>
            <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
                <ul class="navbar-nav mr-lg-4 w-100">
                    <li class="nav-item">
                        <div class="list-group text-center">
                            <iframe src="https://freesecure.timeanddate.com/clock/i77d01p1/n238" frameborder="0" width="114" height="19" border-right-0></iframe>
                            <span class="text-info font-weight-bold" width="60" height="60">Sofia</span>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="list-group text-center">
                            <iframe src="https://freesecure.timeanddate.com/clock/i77d01p1/n179" frameborder="0" width="114" height="19"></iframe>
                            <span class="text-info font-weight-bold" width="60" height="60">New York</span>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="list-group text-center">
                            <iframe src="https://freesecure.timeanddate.com/clock/i77d01p1/n136" frameborder="0" width="114" height="19"></iframe>
                            <span class="text-info font-weight-bold" width="60" height="60">London</span>
                        </div>
                    </li>
                </ul>
                <ul class="navbar-nav navbar-nav-right">
                    <li class="nav-item nav-profile dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
                            <span class="nav-profile-name text-dark font-weight-bold">@User.Identity.Name</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
                            <form method="post" class="form-inline" asp-area="Identity" asp-page="/Account/Manage/Index">
                                <a class="dropdown-item">
                                    <i class="mdi mdi-account-card-details menu-icon text-info font-weight-bold"></i>
                                    <button type="submit" class="nav-link btn btn-link text-dark font-weight-bold">Profile</button>
                                </a>
                            </form>
                            @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
                            {
                                <form method="post" class="form-inline" asp-area="Administration" asp-controller="Dashboard" asp-action="Logout">
                                    <a class="dropdown-item">
                                        <i class="mdi mdi-logout text-info font-weight-bold"></i>
                                        <button type="submit" class="nav-link btn btn-link text-dark font-weight-bold">Logout</button>
                                    </a>
                                </form>
                            }
                            else if (this.User.IsInRole(GlobalConstants.AccountManagerRoleName))
                            {
                                <form method="post" class="form-inline" asp-area="AccountManagement" asp-controller="NewClients" asp-action="Logout">
                                    <a class="dropdown-item">
                                        <i class="mdi mdi-logout text-info font-weight-bold"></i>
                                        <button type="submit" class="nav-link btn btn-link text-dark font-weight-bold">Logout</button>
                                    </a>
                                </form>
                            }
                            else if (this.User.IsInRole(GlobalConstants.ConfirmedUserRoleName) || this.User.IsInRole(GlobalConstants.NotConfirmedUserRoleName))
                            {
                                <form method="post" class="form-inline" asp-area="User" asp-controller="Trade" asp-action="Logout">
                                    <a class="dropdown-item">
                                        <i class="mdi mdi-logout text-info font-weight-bold"></i>
                                        <button type="submit" class="nav-link btn btn-link text-dark font-weight-bold">Logout</button>
                                    </a>
                                </form>
                            }
                        </div>
                    </li>
                </ul>
                <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                    <span class="mdi mdi-menu"></span>
                </button>
            </div>
        </nav>
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:partials/_sidebar.html -->
            <nav class="sidebar sidebar-offcanvas" id="sidebar">
                <partial name="_LoginPartial" />
            </nav>
            <!-- partial -->
            <div class="main-panel">
                <div class="content-wrapper">
                    <main role="main" class="pb-3">
                        @this.RenderBody()
                    </main>
                </div>
                <!-- content-wrapper ends -->
                <!-- partial:partials/_footer.html -->
                <footer class="footer">
                    <div class="d-sm-flex justify-content-center justify-content-sm-between">
                        <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2020 <a class="text-info" href="#">@GlobalConstants.SystemDisplayName</a>. All rights reserved.</span>
                        <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i class="mdi mdi-heart text-danger"></i></span>
                    </div>
                </footer>
                <!-- partial -->
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="~/vendors/base/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page-->
    <script src="~/lib/jquery-validation/dist/jquery.validate.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js" asp-append-version="true"></script>
    <script src="~/lib/signalr/dist/browser/signalr.js"></script>
    <script src="~/lib/moment/min/moment-with-locales.js"></script>
    <script src="~/vendors/chart.js/Chart.min.js"></script>
    <script src="~/vendors/datatables.net/jquery.dataTables.js"></script>
    <script src="~/vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
    <!-- End plugin js for this page-->
    <!-- inject:js -->
    <script src="~/js/off-canvas.js"></script>
    <script src="~/js/hoverable-collapse.js"></script>
    <script src="~/js/template.js"></script>

    <!-- endinject -->
    <!-- Custom js for this page-->
    <script src="~/js/dashboard.js"></script>
    <script src="~/js/data-table.js"></script>
    <script src="~/js/jquery.dataTables.js"></script>
    <script src="~/js/dataTables.bootstrap4.js"></script>
    <!-- End custom js for this page-->

    @this.RenderSection("Scripts", required: false)
</body>

</html>
