@using PersonalStockTrader.Common
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="TemplateMo">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>@this.ViewData["Title"] - @GlobalConstants.SystemDisplayName</title>

    <!-- Bootstrap core CSS -->
    <environment names="Development">
        <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/css/site.css" rel="stylesheet" asp-append-version="true" />
    </environment>
    <environment names="Staging,Production">
        <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/css/site.min.css" rel="stylesheet" asp-append-version="true" />
    </environment>

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="~/css/fontawesome.css">
    <link rel="stylesheet" href="~/css/templatemo-finance-business.css">
    <link rel="stylesheet" href="~/css/owl.css">
</head>

<body>

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->
    <!-- Header -->
    <div class="sub-header">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-xs-12">
                    <ul class="left-info">
                        <li><a href="#"><i class="fa fa-clock-o"></i>Mon-Fri 09:00-17:00</a></li>
                        <li><a href="#"><i class="fa fa-phone"></i>+359 888 888 888</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <header class="">
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><h2>Personal<br />Stock Trader</h2></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item" id="home">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">
                                Home
                            </a>
                        </li>
                        <li class="nav-item" id="about">
                            <a class="nav-link" asp-area="" asp-controller="About" asp-action="Index">About Us</a>
                        </li>
                        <li class="nav-item" id="services">
                            <a class="nav-link" asp-area="" asp-controller="Services" asp-action="Index">Our Services</a>
                        </li>
                        <li class="nav-item" id="contact">
                            <a class="nav-link" asp-area="" asp-controller="Contact" asp-action="Index">Contact Us</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>

    <div class="">
        <main role="main" class="pb-3">
            <partial name="_CookieConsentPartial" />
            @this.RenderBody()
        </main>
    </div>

    <!-- Footer Starts Here -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-6 footer-item">
                    <h4>Personal Stock Trader</h4>
                    <ul class="menu-list">
                        <li><a asp-area="" asp-controller="Home" asp-action="Index">We are here to help you</a></li>
                    </ul>
                </div>
                <div class="col-md-6 footer-item">
                    <h4>Additional Pages</h4>
                    <ul class="menu-list">
                        <li><a asp-area="" asp-controller="About" asp-action="Index">About Us</a></li>
                        <li><a asp-area="" asp-controller="Services" asp-action="Index">How We Work</a></li>
                        <li><a asp-area="" asp-controller="Contact" asp-action="Index">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <div class="sub-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p>Copyright &copy; @DateTime.Now.Year @GlobalConstants.SystemName Co., Ltd.
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript -->
    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js" asp-append-version="true"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js" asp-append-version="true"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    <!-- Additional Scripts -->
    <script src="~/js/custom.js"></script>
    <script src="~/js/owl.js"></script>
    <script src="~/js/slick.js"></script>
    <script src="~/js/accordions.js"></script>

    <script language="text/Javascript">
        cleared[0] = cleared[1] = cleared[2] = 0; //set a cleared flag for each field
        function clearField(t) {                   //declaring the array outside of the
            if (!cleared[t.id]) {                      // function makes it static and global
                cleared[t.id] = 1;  // you could use true and false, but that's more typing
                t.value = '';         // with more chance of typos
                t.style.color = '#fff';
            }
        };
    </script>

    @this.RenderSection("Scripts", required: false)
</body>
</html>
