@model PersonalStockTrader.Web.ViewModels.AccountManagement.NewClients.ClientToBeConfirmedViewModel


<div class="col-12 grid-margin">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">@Model.Username</h4>
            <form method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <p class="card-description">
                    Client info
                </p>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label asp-for="Username" class="col-sm-3 col-form-label text-right">Username</label>
                                <div class="col-sm-9">
                                    <input asp-for="Username" type="text" class="form-control" value="@Model.Username" readonly />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label asp-for="Email" class="col-sm-3 col-form-label text-right">Email</label>
                                <div class="col-sm-9">
                                    <input asp-for="Email" type="text" class="form-control" value="@Model.Email" readonly />
                                </div>
                            </div>
                        </div>
                    </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label asp-for="Balance" class="col-sm-3 col-form-label text-right">Starting Balance</label>
                            <div class="col-sm-9">
                                <input id="startBalance" asp-for="Balance" type="number" min="1000" class="form-control" value="@Model.Balance.ToString("F2")" />
                                <span asp-validation-for="Balance" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label asp-for="MonthlyFee" class="col-sm-3 col-form-label text-right">Monthly Fee</label>
                            <div class="col-sm-9">
                                <input id="monthlyFee" asp-for="MonthlyFee" type="number" min="0.01" max="100.00" class="form-control" value="@Model.MonthlyFee.ToString("F2")" />
                                <span asp-validation-for="MonthlyFee" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label asp-for="TradeFee" class="col-sm-3 col-form-label text-right">Trade Fee</label>
                            <div class="col-sm-9">
                                <input id="tradeFee" asp-for="TradeFee" type="number" min="0.01" max="100.00" class="form-control" value="@Model.TradeFee.ToString("F2")" />
                                <span asp-validation-for="TradeFee" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label asp-for="Notes" class="col-sm-3 col-form-label text-right">Notes</label>
                            <div class="col-sm-9">
                                <textarea asp-for="Notes" type="text" class="form-control" rows="6" placeholder="Add notes to the account"></textarea>
                                <span asp-validation-for="Notes" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-info mr-2">Confirm</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
        var balance = document.getElementById('startBalance');
        var monthlyFee = document.getElementById('monthlyFee');
        var tradeFee = document.getElementById('tradeFee');

        balance.addEventListener('change', setTwoNumberDecimal);
        monthlyFee.addEventListener('change', setTwoNumberDecimal);
        tradeFee.addEventListener('change', setTwoNumberDecimal);

        function setTwoNumberDecimal(event) {
            this.value = parseFloat(this.value).toFixed(2);
        }
    </script>
}