@model PersonalStockTrader.Web.ViewModels.AccountManagement.ManageClients.ClientToBeManagedViewModel
@{
    this.ViewData["Title"] = "Manage Clients";
}

<div class="col-12 grid-margin">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">@Model.Username</h4>
            <form id="editForm" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <p class="card-description">
                    Client info
                </p>
                <input id="userId" asp-for="UserId" type="hidden" value="@Model.UserId" />
                <input id="accountIsDeleted" asp-for="AccountIsDeleted" type="hidden" value="@Model.AccountIsDeleted" />
                <input id="accountId" asp-for="AccountId" type="hidden" value="@Model.AccountId" />
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label asp-for="Username" class="col-sm-3 col-form-label text-right">Username</label>
                            <div class="col-sm-9">
                                <input asp-for="Username" type="text" class="form-control" value="@Model.Username" readonly />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label asp-for="Email" class="col-sm-3 col-form-label text-right">Email</label>
                            <div class="col-sm-9">
                                <input asp-for="Email" type="text" class="form-control" value="@Model.Email" readonly />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label asp-for="MonthlyFee" class="col-sm-3 col-form-label text-right">Monthly Fee</label>
                                        <div class="col-sm-9">
                                            <input id="monthlyFee" asp-for="MonthlyFee" type="number" min="0.01" max="100.00" class="form-control border border-dark" value="@Model.MonthlyFee.ToString("F2")" />
                                            <span asp-validation-for="MonthlyFee" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label asp-for="TradeFee" class="col-sm-3 col-form-label text-right">Trade Fee</label>
                                        <div class="col-sm-9">
                                            <input id="tradeFee" asp-for="TradeFee" type="number" min="0.01" max="100.00" class="form-control border border-dark" value="@Model.TradeFee.ToString("F2")" />
                                            <span asp-validation-for="TradeFee" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label asp-for="Balance" class="col-sm-3 col-form-label text-right">Balance</label>
                                        <div class="col-sm-9">
                                            <input id="balance" asp-for="Balance" type="number" min="1000" class="form-control border border-dark" value="@Model.Balance.ToString("F2")" />
                                            <span asp-validation-for="Balance" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 text-center">
                                    <button id="btnEdit" type="button" class="btn btn-success btn-lg btn-icon-text" onclick="editValues()" disabled>
                                        Edit Values
                                        <i class="mdi mdi-file-check btn-icon-append"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <button type="submit" id="activateAccount" class="btn btn-inverse-primary btn-lg btn-block"><i class="mdi mdi-account-check"></i> Activate Account</button>
                                <button type="submit" id="deactivateAccount" class="btn btn-inverse-danger btn-lg btn-block"><i class="mdi mdi-account-remove"></i> Deactivate account</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="button-holder">
                                    <a class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#sendEmail" data-whatever="">
                                        <i class="mdi mdi-email-variant"></i> Send email
                                    </a>
                                </div>
                                <div class="button-holder" style="margin-top: 5px">
                                    <a asp-area="AccountManagement" asp-controller="ManageClients" asp-action="DeleteClient" asp-route-accountId="@Model.AccountId" class="btn btn-danger btn-lg btn-block"><i class="mdi mdi-account-off"></i> Delete user</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="sendEmail" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New message to @Model.Username</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="emailForm" method="post">
                    <div class="form-group">
                        <label for="recipientName" class="col-form-label">Recipient:</label>
                        <input type="text" class="form-control" id="recipientName" value="@Model.Email" readonly>
                    </div>
                    <div class="form-group">
                        <label for="subject" class="col-form-label">Subject:</label>
                        <input type="text" class="form-control" id="subject">
                    </div>
                    <div class="form-group">
                        <label for="message" class="col-form-label">Message:</label>
                        <textarea class="form-control" id="message"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="sendBtn" type="button" class="btn btn-primary" onclick="sendMail()">Send message</button>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
        var isDeleted = $('#accountIsDeleted').val();

        if (isDeleted === 'False') {
            $(window).on('load',
                function (e) {
                    $('form').each(function () {
                        $(this).data('serialized', $(this).serialize())
                    })
                        .on('change input',
                            function () {
                                $(this)
                                    .find('#btnEdit')
                                    .prop('disabled', $(this).serialize() == $(this).data('serialized'))
                                    .find('#btnEdit')
                                    .prop('disabled', true);
                            });
                });
        }
    </script>

    <script>
        var balance = document.getElementById('balance');
        var monthlyFee = document.getElementById('monthlyFee');
        var tradeFee = document.getElementById('tradeFee');

        balance.addEventListener('change', setTwoNumberDecimal);
        monthlyFee.addEventListener('change', setTwoNumberDecimal);
        tradeFee.addEventListener('change', setTwoNumberDecimal);

        function setTwoNumberDecimal(event) {
            this.value = parseFloat(this.value).toFixed(2);
        }
    </script>

    <script>
        var isDeleted = $('#accountIsDeleted').val();

        if (isDeleted === 'True') {
            $('#activateAccount').attr('disabled', false);
            $('#deactivateAccount').attr('disabled', true);
            $('#btnEdit').attr('disabled', true);
        } else {
            $('#activateAccount').attr('disabled', true);
            $('#deactivateAccount').attr('disabled', false);
        }

    </script>

    <script>
        function editValues() {
            var token = $('input[name="__RequestVerificationToken"]').val();
            var id = $('#userId').val();
            var balance = $('#balance').val();
            var tradeFee = $('#tradeFee').val();
            var monthlyFee = $('#monthlyFee').val();

            if (balance < 0 || tradeFee < 0 || monthlyFee < 0 || tradeFee > 100 || monthlyFee > 100) {
                alert('Invalid values');
                return;
            }

            $.ajax({
                url: "/api/UpdateAccounts",
                type: "POST",
                data: JSON.stringify({
                    userId: id,
                    balance: balance,
                    tradeFee: tradeFee,
                    monthlyFee: monthlyFee
                }),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                headers: { 'X-CSRF-TOKEN': token }
            })
                .done(function success(data) {
                    alert('Values ' + data.response);
                })
                .fail(function fail(data, statusCode) {
                    alert('Request failed. Returned status of ' + statusCode);
                });
        }
    </script>

    <script>
        function sendMail() {
            var token = $('input[name="__RequestVerificationToken"]').val();
            var email = $('#recipientName').val();
            var subject = $('#subject').val();
            var message = $('#message').val();
           
            $.ajax({
                    url: "/api/SendEmail",
                    type: "POST",
                    data: JSON.stringify({
                        email: email,
                        subject: subject,
                        message: message
                    }),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    headers: { 'X-CSRF-TOKEN': token }
                })
                .done(function success(data) {
                    $('#sendEmail').modal('hide');
                    alert(data.response);
                })
                .fail(function fail(data, statusCode) {
                    alert('Request failed. Returned status of ' + statusCode);
                });
        }
    </script>
}